<footer class="container-fuild">
    <div class="container">
        <div class="row bottom-buffer">
            <div class="col-md-3">
                <img class="logoTop" src="{{ 'assets/img/logo_master.svg' | absolute_url }}" style="max-height: 120px;" alt=" logo " />
            </div>
            <div class="col-md-3">
                <h5 class="titreFooter">ENAC</h5>
                7 avenue Edouard Belin <br />
                31000 Toulouse<br />
                <a href="https://www.enac.fr/fr" target="_blank">enac.fr</a> <br /><br />

                <img src="{{ 'assets/img/enac-logo-blanc.png' | absolute_url }}" width="100">

            </div>
            <div class="col-md-4">
                <h5 class="titreFooter">Université Paul Sabatier</h5>
                118 route de Narbonne <br />
                31062 Toulouse<br />
                <a href="https://www.univ-tlse3.fr/" target="_blank">univ-tlse3.fr</a> <br /><br />

                <img src="{{ 'assets/img/paul-sabatier-logo-blanc.png' | absolute_url }}" width="80">

            </div>
            <div class="col-md-2">
                <p class="whitey"></p>
                <a href="{{ site.base }}{% link _pages/plan-d-acces.md %}" ><i class="glyphicon glyphicon-map-marker"></i> Plan d'accès</a><br/><br/>
                <a href="{{ site.base }}{% link _pages/contact.md %}" ><i class="glyphicon glyphicon-envelope"></i> Contact</a><br/><br/>
                <div class="">
                    <a href="https://twitter.com/masterihm" target="_blank">
                        <img class="socialmedia" width="45" height="45" src="{{ 'assets/img/Twitter_Logo_White_On_Blue.svg' | absolute_url }}" />
                    </a>
                    <a href="https://www.linkedin.com/groups/2043518" target="_blank">
                        <img class="socialmedia" width="45" height="45" src="{{ 'assets/img/in.svg' | absolute_url }}" />
                    </a>
                </div>

            </div>
        </div>

    </div>
</footer>
<div class="container-fuild bandBlack">
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-buffer">
                <div class="right">
                    <p class="whitey">
                        &copy; 2023  - Tous droits réservés
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

