<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title> Master IHM - Toulouse </title>
    <meta name="description" content="MASTER IHM website {{page.title}} page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Description ">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="Content-Security-Policy" content="frame-ancestors 'self'">
    <meta property="X-Frame-Options" content="SAMEORIGIN">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png'| absolute_url}}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ '/assets/favicon/favicon.ico' | absolute_url}}">
    <link rel="icon" type="image/svg+xml" sizes="any" href="{{ '/assets/favicon/favicon.svg' | absolute_url}}">
    <link rel="manifest" href="{{ '/assets/favicon/manifest.json' | absolute_url}}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap-theme.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
    <style>
    body {
        padding-top: 66px;
        padding-bottom: 0;
    }
    </style>
    <script src="{{ '/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' | absolute_url }}"></script>
</head>
