<header class="hidden-xs hidden-sm">
    <div class="container-fuild header-container">
        <div id="imgbgheader" class="row video-container">
            <div class="container-fluid">
                <div class="col-xs-12">
                    <h1 class="padding-slogan slogan yellow textShadow">
                        Master Interaction Homme-Machine
                    </h1>
                    <h2 class="whitey textShadow"> Toulouse | ENAC & Université de Toulouse </h2>
                </div>
            </div>
        </div>
    </div>
</header>
