<!doctype html>
<html>
{% include head.html %}

<body>
    {% include nav.html %}
    {% include header.html %}

    <div class="container-fluid bandGrey">
        <div class="container top-buffer bottom-buffer">
            <div class="row bottom-buffer">
                <div class="col-md-12 bottom-buffer">
                    <div class="row">
                        <div class="col-xs-12 top-buffer center">
                            <h1 class="padding-slogan slogan">Le blog</h1>
                        </div>

                    </div>
                    {% for post in site.posts %}
                    <div class="col-md-6 top-buffer ">
                        <div class="row bottom-buffer">
                            <a href="./{{ post.url }}" class="newws">
                                <div class="col-sm-4 hidden-xs annoncePadding right">
                                    <img src="{{ post.image | prepend: '/assets/img/news/'  | append: '.png' }}"
                                        height="150" alt="" class="book" />
                                </div>
                                <div class="col-xs-12 col-sm-8 cardNoPadding linkAnnonce" style="margin: 0px 0px">

                                    <h5 class="titleSmNews">{{ post.title }}</h5>
                                    <div class="lightGrey dateNews">Publié le {{ post.date | date: '%e/%m/%Y' }}</div>

                                </div>
                            </a>
                            <!--<a href="{{ post.url }}">{{ post.title }}</a>-->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}

    <body>

</html>